<h1>Log In Below:</h1>

<form method="post" action="/sessions">
    Email: <input type="email" id="email" name="email" placeholder="email">
    Password: <input type="password" id="password" name="password" placeholder="password">
    <input type="submit" id="log_in" value="Log In">
</form>
